/* --------- ROOT --------- */
:root,
body {
  width: 100vw;
}

.row,
body {
  margin: 0%;
  padding: 0%;
}

.row {
  display: flex;
  align-content: center;
}

body {
  background-color: #334f53;
}


/* --------- HOME --------- */
/* --------- HEADER --------- */
p {
  color: #00b0c8;
  font-family: 'Creepster', cursive;
  font-size: 250%;
  margin: 0%;
}

#header-container {
  width: 100%;
  padding: 3% 0%;
}

#columns {
  padding: 0%;
}

#logo {
  width: 50%;
}

#return-home {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


/* --------- SELECT --------- */
.form-select {
  height: 120%;
  padding: 0% 2%;
  background-color: #e5ead4;
  display: flex;
  justify-content: center;
  font-size: 150%;
}

#select-columns {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

#selects {
  margin-top: 5%;
}


/* --------- CARDS --------- */
.card-img {
  border-radius: 20px 20px;
}

#cards-row {
  margin-top: 10%;
}

#info-cards,
#info-results  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#info-cards {
width: 100vw;
height: fit-content;
padding: 0%;
margin: 3% 0%;
background-color: transparent;
}

#info-results {
  padding: 3%;
  background-color: #9acc77;
  border-radius: 15px;
}

#more-information {
  border-color: #334f53;
  box-shadow: #334f53 2px 2px 1px 2px;

}

#info-body {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* --------- MODAL --------- */
.modal {
  background-color: transparent;
}

.modal-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: large;
}

#close-btn {
  background-color: #45936c;
  border-color: transparent;
}

