/* --------- ROOT --------- */

:root {
  width: 100vw;
}

.row {
  margin: 0%;
  padding: 0%;
  display: flex;
  align-content: center;
}



body {
  background-color: #334f53;
  width: 100vw;
  padding: 0%;
  margin: 0%;
}


/* --------- HOME --------- */

/* --------- HEADER --------- */
p {
  color: #00b0c8;
  font-family: 'Creepster', cursive;
  font-size: 150%;
  margin: 0%;
}

#header-container {
  width: 100vw;
  padding: 3% 0%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#columns {
  padding: 0%;
}

#logo {
  width: 30%;
  height: fit-content;
}

#return-home {
  background-color: transparent;

}

